* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

header.top-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 132, 253);

}


.container {
    margin: auto;
    max-width: 400px;

}

.logo, .nav-bar{
    height: 80px;
    padding: 20px 10px;

}

.hamburger{
    color: white;
    font-size: 20px;
}

/* COLORI TESTI */

.white-txt{
    color: white;
}

.blu-text{
    color:rgb(0, 132, 253);
}

.purple-text{
    color: rgb(151, 146, 228);
}

/* COLORI TESTI FINE */


/* SIZE TESTI */
.small{
    font-size: 13px;
}

.med{
    font-size:16px;
}

.big{
    font-size: 30px;
}

.biggest{
    font-size: 60px
}

.text{
    text-align: center;
}

.text-in{
    text-indent:1px;
}

.pad{
    padding: 20px 60px;
}

.pad-top{
    padding:20px 0px;
}

.smuss{
    border-radius: 10px;
}

.width{
    width: 70%;
    margin: auto;
}

.spacing{
    line-height: 1.6;
}

.fa-arrow-down{
    width: 40px;
    border-radius: 50%;
    background-color:rgb(151, 146, 228) ;
    padding: 10px;
    text-align: center;

    
    
}


/* SIZE TESTI FINE */

ul{
    list-style: none ;
    display: flex;
    padding: 16px;
}

ul li {
    padding-left:20px;
    color: white;
}

/* BOTTONI */

.btn-white{
    background-color:white;
	border-radius:15px;
	color:black;
	font-size:18px;
	padding:5px 15px;
    text-decoration: none;
   
}

.btn-blu{
	background-color:rgb(0, 132, 253);
	border-radius:15px;
	color:white;
	font-size:18px;
	padding:5px 15px;
}

/* BOTTONI FINE */

main {
    padding-top: 100px;
}

.card{
    padding: 20px;
}

#first .card {
    background-color: rgb(181, 221, 255);
    margin-bottom: 20px;
    
}

.small-box {
    background-color: rgb(181, 221, 255);
    height: 80px;
    padding: 1rem;
}

/* .small-box2 {
    height: 80px;
    padding: 1rem;
} */

#first .card h1{
    padding: 20px 0px;
}



.phone img{
    
}



#second {
    background-color: rgb(151, 146, 228);
    padding: 2rem;
}


.colum1 img{
    margin-left: 30px;
    width: 80%;
}
    

.colum2{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: -5px;
    padding-left: 5px;

   
}

.colum2 img{
    width: 50%;
}

#third {
    padding: 2rem 0;
}

#third .card {
    background-color: rgb(151, 146, 228) ;
    margin: 2rem 0;
    border-radius: 30px;
   
    
}

#third .card img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

#fourd{
    background-color: rgb(151, 146, 228);
    padding: 4rem 0;
}

#fourd .card{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#fifth .card{
    margin-top: 2rem;
    margin-bottom: 2rem;

}

#sixth{
    background-color: rgb(151, 146, 228);
    padding-top: 30px;
}

 .started{
    text-align: center;
}

#seventh{
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
}



/* MEDIA QUERY */

@media screen and (max-width:768px) {
    .nav-bar{
        display: none;
    }

    
}

@media screen and (min-width:768px) {
    .container {
        max-width: 740px;

    }

    .nav-bar{
        display: none;
    }

    #first .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #first .card {
        width: calc( (100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    #first .card:first-child {
        width: calc( (100% / 3 * 2) - 1.5rem);
    }

    #second .colum{
        width: 50%;
        margin: auto;
        padding: 10px 0px;
    }

    #third .card {
        display: flex;
        
    }

    #third .card .name{
        display: inline;
    }

  


    #third .card div:last-child {
        flex-grow: 1;
    }

    #fourd .cards{
        display: flex;
        flex-wrap: wrap;
       
    }

    #fourd .card{
        margin-left: 40px;
        margin-right: 20px;
        width: calc(80% /2);
    }

    #fifth .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #fifth .card{
        margin-left: 40px;
        margin-right: 20px;
        width: calc(80% /2);
    }

}









@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }

    .nav-bar{
        display: none;
    }

    #first .card:first-child {
        display: flex;
    }

    #first .card:first-child>div {
        width: 50%;
    }


    #second .columns {
        display: flex;
        padding-left: 6rem;
        padding-right: 6rem;
        align-items: flex-end;
    }

 

    #fourd .cards{
        display: flex;
        flex-wrap: wrap;
       
    }

    #fourd .card{
        margin-left: 40px;
        margin-right: 20px;
        width: calc(80% /3);
    }



    @media screen and (min-width:1200px) {
        .container {
            max-width: 1170px;
        }

        .nav-bar{
            display: block;
        }

        .hamburger{
            display: none;
        }


    }
}


/* FINE MEDIA QUERY */