* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

header.top-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 132, 253);

}


.container {
    margin: auto;
    max-width: 600px;

}

.logo, .nav-bar {
    background-color: red;
    height: 80px;
    padding: 1rem;
}

main {
    padding-top: 100px;
}

#first .card {
    background-color: blue;

    margin-bottom: 20px;

}

.small-box {
    background-color: blue;
    height: 80px;
    padding: 1rem;
}

.small-box2 {
    background-color: coral;
    height: 80px;
    padding: 1rem;
}



#second {
    background-color: rgb(151, 146, 228);
    padding: 2rem;
}

#second .colum {
    margin: 1rem 0;
}

#third {
    padding: 2rem 0;
}

#third .card {
    margin: 2rem 0;
}

#fourd{
    background-color: rgb(151, 146, 228);
    padding: 4rem 0;
}

#fourd .card{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#fifth .card{
    margin-top: 2rem;
    margin-bottom: 2rem;

}

#sixth{
    background-color: rgb(151, 146, 228);
    padding-top: 30px;
}

 .started{
    text-align: center;
}

#seventh{
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
}



/* MEDIA QUERY */
@media screen and (min-width:768px) {
    .container {
        max-width: 740px;

    }

    #first .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #first .card {
        width: calc( (100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    #first .card:first-child {
        width: calc( (100% / 3 * 2) - 1.5rem);
    }

    #third .card {
        display: flex;
    }


    #third .card div:last-child {
        flex-grow: 1;
    }

    #fourd .cards{
        display: flex;
        flex-wrap: wrap;
       
    }

    #fourd .card{
        margin-left: 40px;
        margin-right: 20px;
        width: calc(80% /2);
    }

    #fifth .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #fifth .card{
        margin-left: 40px;
        margin-right: 20px;
        width: calc(80% /2);
    }

}









@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }

    #first .card:first-child {
        display: flex;
    }

    #first .card:first-child>div {
        width: 50%;
    }


    #second .columns {
        display: flex;
        padding-left: 6rem;
        padding-right: 6rem;
        align-items: flex-end;
    }

    #second .colum {
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    #fourd .cards{
        display: flex;
        flex-wrap: wrap;
       
    }

    #fourd .card{
        margin-left: 40px;
        margin-right: 20px;
        width: calc(80% /3);
    }



    @media screen and (min-width:1200px) {
        .container {
            max-width: 1170px;
        }


    }
}


/* FINE MEDIA QUERY */